{
    "editor.formatOnSave": true,
    "editor.insertSpaces": false,
    "editor.renderWhitespace": "all",
    "editor.useTabStops": true,
    "files.autoSave": "afterDelay",
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "**/.vscode": true,
        "**/.idea": true,
        "**/.gitignore": true
    },
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "terminal.integrated.shell.linux": "/usr/bin/zsh",
    "window.zoomLevel": 0
}
